{% extends "layout.html" %}
{% block heading %}
    Lorem Ipsum Example
{% endblock %}

{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id neque justo. Nullam egestas id lectus id
    venenatis. Vivamus eget diam sed arcu gravida efficitur. Vivamus mattis leo elit, vitae convallis mauris lobortis
    ut. Donec suscipit tincidunt aliquet. Suspendisse luctus magna non dolor fermentum, eget tempor nunc eleifend.
    Phasellus tristique efficitur sollicitudin. Mauris sed congue magna. Curabitur urna nisi, suscipit non feugiat ut,
    accumsan id libero. Duis faucibus lectus euismod aliquet bibendum. Aliquam dapibus lorem sit amet sem tristique
    tempus. Donec vehicula velit sed magna dictum, eget condimentum lacus auctor. Nullam nec imperdiet felis, ac tempus
    lacus. Mauris vel luctus ex. Integer convallis dui sit amet euismod dignissim. Nam ut rhoncus mauris, id pretium
    elit.
{% endblock %}