<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lorem Ipsum</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    a, a:visited{
        color: ghostwhite;
    }
</style>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="text-center">
        <h1>{% block heading %} {% endblock %}</h1>
        <p> {% block body %} {% endblock %}</p>
        <a href="{{ url_for('index') }}">Go to index</a>
    </div>
</body>
</html>